<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Merci de patienter </p>
</ngx-spinner>
<div class="row mt-4 mb-4 justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="showFavoris(false)" class="btn btn-primary">Tous</button>
        <button type="button" (click)="showFavoris(true)" class="btn btn-warning">Favoris</button>
      </div>
</div>
<div class="row justify-content-around">
    <div class="col-md-4 mt-2 mb-2" *ngFor="let character of charactersList | paginate: { itemsPerPage: 9, currentPage: p }">
        <app-character-item [character] = "character"></app-character-item>
    </div>
</div>

<div class="row justify-content-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
</div>