{% extends 'base.html.twig' %}

{% block title %}Modifier un personnage!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {% if form_errors(form.name) %}
            <span class="badge badge-danger">
                {{ form_errors(form.name) }}
            </span>
        {% endif %}
        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(form.name) }}</label>
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group">

            <label for="exampleInputEmail1">{{ form_label(form.description) }}</label>
            {{ form_widget(form.description) }}
        </div>

        <div class="form-check">
            {{ form_widget(form.isFavorite) }}
            <label class="form-check-label" for="defaultCheck2">
                {{ form_label(form.isFavorite) }}
            </label>
        </div>

        {{ form_widget(form.save)}}
        {{ form_end(form) }}
    </div>

{% endblock %}
