{% extends 'base.html.twig' %}

{% block title %}Liste de personnage!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 100%; font: 18px/1.5 sans-serif; text-align: center }
    .btn-reload{
        text-decoration: none;
        border: 1px solid #8080801f;
        padding: 15px;
        border-radius: 10px;
        color: white;
        background-color: #e74f96;
    }
    .btn-reload:hover{
        background-color: rgba(231, 79, 150, 0.9);
    }
    .card-title{
        font-size: 13px;
    }
</style>

<div class="example-wrapper">
    <h1 class="title">PEAKS: API MARVEL</h1>
    <div style="margin: 30px">
        <a class="btn-reload" href="{{ path('load_characters') }}">Recharger la liste des personnages</a>
    </div>
    {% for message in app.flashes('success') %}
        <span class="badge badge-success">
            {{ message }}
        </span>
    {% endfor %}
    <div class="row">
        {% for character in characters %}
            {% include 'characters/item.html.twig' with {'character': character} only %}
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
