<div class="">
    <div class="card">
        <img [src]="character.thumbnail" style="width: 100%; height: 200px" src="#" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
        </div>
        <div class="card-footer">
            <div  class="row">
                <div class="col-md-6">
                    <a type="button" [routerLink]="character.id" class="btn btn-outline-primary">
                        Plus d'infos
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"></path>
                            <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                        </svg>

                    </a>
                </div>
                <div class="col-md-6">
                    <a type="button" class="btn btn-outline-danger" (click)="editFavorite(!character.isFavorite, character.id)">
                        Favoris
                        <span *ngIf="character.isFavorite == true">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="#e75096" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                        </svg>
                        </span>

                        <span *ngIf="character.isFavorite == false">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" color="#e75096" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                            </svg>
                        </span>


                    </a>
                </div>
            </div>
        </div>
    </div>
</div>