<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Merci de patienter </p>
</ngx-spinner>
<div class="jumbotron">
    <img class="thumbnail" [src]="character.thumbnail" alt="{{ character.name }}}">
    <h1 class="display-4">{{character.name}}</h1>
    <p class="lead" *ngIf="character.description">{{character.description}}</p>
    <p class="lead" *ngIf="!character.description"><span class="badge badge-warning">Aucune description</span></p>
    <hr class="my-4">
    <div class="row justify-content-center">
        <span class="badge badge-info">Apparition: {{character.parution}}</span>
    </div>
    <div class="row">
        <h2>3 dernières apparutions</h2>
        <div class="row w-100 justify-content-around">
            <div class="md-4" *ngFor="let parution of character.threeLastComics">
                <span class="badge badge-info">Apparition: {{parution.name}}</span>
            </div>
        </div>
        <div class="row mt-4 justify-content-center w-100">
            <a class="btn btn-sm btn-primary" routerLink='' role="button">Retour à la liste</a>
        </div>
    </div>
</div>