<div class="container">
  <div class="row justify-content-center">
    <div class="title">
      <h1>
        PEAKS: API MARVEL
      </h1>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>